{{> head}}
{{!-- para mantener pendiente de los archivos usar nodemon *nombre del archivo.js* -e *archivos a estar pendiente* --}}
{{> navbar}}

<div class="row">

<div class="col-8">

<h1>
    Pagina Web con Node.js
</h1>
<p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab iusto numquam suscipit. Culpa nam quos voluptatibus sapiente! Perferendis, dolorum alias? Dignissimos modi laudantium quasi distinctio rem vitae laboriosam sapiente itaque?
</p>

</div>

<div class="col-4">
    <img src="assets/img/descarga.png" class="img-thumbnail">
</div>

</div>   


{{> footer}}